YANDEX_OAUTH_TOKEN=ВАШ_НОВЫЙ_OAUTH_ТОКЕН
PORT=4173
TV_HOST=192.168.1.50
TV_PORT=8001
TV_SECURE=false
TV_TOKEN=
ROOM_FILTER=спальня
WEATHER_CITY=Севастополь
WEATHER_LAT=44.9521
WEATHER_LON=34.1024
PUBLIC_URL=http://192.168.88.37:4173
